modules = ["python-3.11", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Web Server"

[[workflows.workflow]]
name = "Web Server"
author = 21148849

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"

[[ports]]
localPort = 8080
externalPort = 80
